<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VC_Technologies</title>
    <link rel="stylesheet" type="text/css"href="{{url_for('static', filename='css/main.css')}}">
    <script defer src="{{url_for('static', filename='js/app.js')}}"></script> 
    <div>
    	<h1>usr/<ins class="tEmph">VC</ins>/tech: <ins class="tEmph">$YOUR_TEAM</ins></h1>
    </div>
  </head>
  {% endblock %}
  {% block body %}
  <body class="Body">
  </body>
  {% endblock %} 
</html>
